@model MusicAgora.Common.Library.TransferObjects.SheetTO

@{
    ViewData["Title"] = "CreateSheet";
}

<h1>CreateSheet</h1>

<h4>SheetTO</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateSheet">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsCurrent" /> @Html.DisplayNameFor(model => model.IsCurrent)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Composer" class="control-label"></label>
                <input asp-for="Composer" class="form-control" />
                <span asp-validation-for="Composer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Arranger" class="control-label"></label>
                <input asp-for="Arranger" class="form-control" />
                <span asp-validation-for="Arranger" class="text-danger"></span>
            </div>
            
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsIndependance" /> @Html.DisplayNameFor(model => model.IsIndependance)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsGarde" /> @Html.DisplayNameFor(model => model.IsGarde)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

